
.nprStory {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 400;
	font-size: 18px;
	color: #FFF;
	position: absolute;
	width: 860px;
	height: 100px;
	left: 5px;
}

.story0 {
	position: absolute;
	top: 10%;
	left: 25px;
}
.story1 {
	position: absolute;
	top: 28%;
	left: 25px;
}
.story2 {
	position: absolute;
	top:  46%;
	left: 25px;
}
.story3 {
	position: absolute;
	top: 64%;
	left: 25px;
}
.story4 {
	position: absolute;
	top: 82%;
	left: 25px;
}

.nprText{
	font-family: 'Ubuntu', sans-serif;
	font-weight: 300;
	font-size: 14px;
	color: #FFF;
	position: absolute;
	top: 20px;
    width: 860px;
	height: 100px;
	left: 5px;
}

.wgicon {
	position: absolute;
	width: 100px;
	height: 100px;
	top: 30px;
	background-size:cover;
	-webkit-background-size:cover;
}
