#title {
	font-family: 'Ubuntu', sans-serif;
	font-weight: 700;
	font-size: 25px;
	color: #FFF;
	position: relative;
	top: 20px;
	left: 30px;
}

.pageIcon {
	width: 100px;
	height: 40px;
	position: absolute;
	top: 10px;
	right: 35px;
	background-size:cover;
	-webkit-background-size:cover;
}

#bar {
	height: 1px;
	width: 860px;
	position: absolute;
	background-color: #FFF;
	top: 53px;
	left: 30px;
}